/* External CSS file - styles.css */

.profile-contain {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 30px;
  }
  
  .profile-head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .profile-name,
  .profile-email,
  .profile-phne,
  .profile-vehicle {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .reset_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset_button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }

.logout_button {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px; /* Rounded corners */
  margin-top: 10px; /* Top margin */
}

.logout_button:hover {
  background-color: #d32f2f; /* Darker red background color on hover */
}
